<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin page</title>
    <%- include('./partials/head.ejs')  %> 
    <script src="socket.io/socket.io.js"></script>
    <script src='js/socketAdmin.js'></script>
</head>
<body>
    <div class='container mt-10'>   
        
        <select id = 'listAds' id ='xxx'>
            <option value = ''>--Select Ads --</option>
            <% 
            let count = 0;
            arrayAd.forEach(function(ad){ %>
                <option value ='<%=  ad.image %>' id='<%= count %>'> <%= ad.image %> </option>
            <% 
                ++count;
            }); %>
            
        </select>
        <input type='button' id='btnSendAds' value ='Send Ads'>
    
        <div class='mt-10'>
            <img id='imgAd' src='' width="200px">
        </div>
    </div>
  
</body>
<%- include('./partials/footer.ejs')  %> 

</html>